version: "3.9"

services:
  app:
    container_name: my-node-app
    build: .
    depends_on:
      - mongo
      - redis
    env_file:
      - .env
    environment:
      MONGO_URL: "${MONGO_URL}"
      REDIS_URL: "${REDIS_URL}"
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/node_modules
    restart: always

  mongo: 
    image: mongo:latest
    container_name: mongo
    ports: 
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_INITDB_ROOT_USERNAME}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_INITDB_ROOT_PASSWORD}"
      MONGO_INITDB_DATABASE: "${MONGO_INITDB_DATABASE}"
    env_file:
      - .env
    volumes:
      - mongo_data:/data/db

  redis: 
    image: redis:latest
    container_name: redis
    ports: 
      - "6379:6379"
    env_file:
      - .env

volumes:
  mongo_data:
